#about {
  background: linear-gradient(155deg, #2b037e, #263caf, #1760c8, #0096ff, #00b5c6, #1ad3df, #a3fffc);
  top: 0;
  height: 1010px;
  width: 100%;
  display:  block;
}

@media not all and (min-resolution:.001dpcm) {#about {
  height: 1045px;
  }
}

@-moz-document url-prefix(){#about {
  height: 1070px;
  }
}

#ab {
    width: 10px;
    height: 10px;
    display:  block;
    float: left;
    top: 0;
    left: 0;
}

.AboutContainer {
    padding-top: 180px;
}

p {
  font-size: 18px;
  margin: 0px -51px 1em;
  font-family: Lato,Segoe UI,Roboto,Oxygen,Cantarell,Open Sans,Helvetica Neue,sans-serif;
}
