#about {
  background: linear-gradient(155deg, #2b037e, #263caf, #1760c8, #0096ff, #00b5c6, #1ad3df, #a3fffc);
  top: 0;
  height: 710px;
  width: 100%;
  display:  block;
}

@media not all and (min-resolution:.001dpcm) {#about {
  height: 745px;
  }
}

@-moz-document url-prefix(){#about {
  height: 770px;
  }
}

#ab {
    width: 10px;
    height: 10px;
    display:  block;
    float: left;
    top: 0;
    left: 0;
}

.AboutContainer {
    padding-top: 180px;
}
