#ForCustomers {
  width: 10px;
  height: 10px;
  display: block;
  float: left;
  margin-top: 147px;
  font-style: normal;
  font-family: Lato,Segoe UI,Roboto,Oxygen,Cantarell,Open Sans,Helvetica Neue,sans-serif;
}

@media only screen and (min-width: 1200px){.ui.container {
    width: 1130px;
    margin-left: auto!important;
    margin-right: auto!important;
  }
}

@media not all and (min-resolution:.001dpcm) {#ForCustomers {
  width: 10px;
  height: 10px;
  display: block;
  margin-top: -264px;
}
h1 {
  font-family: Lato,Segoe UI,Roboto,Oxygen,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  padding-left: 65px;
  padding-top: 50px;
  font-size: 2.5rem;
}
}

@-moz-document url-prefix() {#ForCustomers {
  width: 10px;
  height: 10px;
  display: block;
  float: left;
  margin-top: -265px;
}}

.textC {
  margin: calc(2rem - .14285714em) -50px;
}

.TextPc {
  font-family: Lato,Segoe UI,Roboto,Oxygen,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  font-size: 18px;
  margin: 0 9px 1em;
}

#forCustomers{
  position: relative;
  display: block;
  color: #1760c8;
  text-align: left;
  height: 710px;
  width: 1200px;
  padding-left: 580px;
  margin: 0 auto;
  padding-top: 150px;
  font-style: normal;
  font-family: Lato,Segoe UI,Roboto,Oxygen,Cantarell,Open Sans,Helvetica Neue,sans-serif;
}

h1 {
  font-family: Lato,Segoe UI,Roboto,Oxygen,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  margin: calc(2rem - .14285714em) 13px 1rem;
  padding-top: 50px;
  font-size: 2.5rem;
}

.icon2 {
  float: left;
  width: 515px;
  height: 330px;
  margin-top: -300px;
  margin-left: -646px;
}

#VerticalLine1 {
  border-right: 1px solid #1760c8;
  width: 5px;
  height: 400px;
  float: right;
  margin-right: 655px;
  margin-top: -300px;
}

.Button_3 {
  font-family: Lato,Segoe UI,Roboto,Oxygen,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  margin-right: -249px;
  margin-left: 80px;
  margin-top: 34px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
  background: none;
  border-radius: 4px;
  border: 2px solid #1760c8;
  color: #1760c8;
  position: relative;
  cursor: pointer;
  display: inline-block;
  }

  .Button_3:hover {
  color: #fff;
  background-color: #1760c8;
  border: 2px solid #1760c8;
  }

  .Button_3:focus {
  color: #fff;
  background-color: #009dff;
  border: 2px solid #009dff;
  }

  .Button_3:active {
  color: #fff;
  background-color: #009dff;
  border: 2px solid #009dff;
  }
