.icon {
  width: 105px;
  height: 100px;
  margin-left: 30px;
  position: unset;
  display: block;
}

#Dropdown {
  position: absolute;
  display: inline-block;
  z-index: 1000;
  color: rgb(147,158,174);
  cursor: pointer;
  font-family: Ubuntu,Segoe UI,Roboto,Oxygen,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  font-style: normal;
  font-size: 18px;
  margin-left: -343px;
  width: 300px;
}

#Dropdown:hover{
  color: #2b37bc;
}

.activeD {
  color: #2b37bc;
  background: 0 0;
  font-weight: 700;
  box-shadow: none;
  z-index: 12;
  display: block;
  line-height: 1em;
  padding: .78571429rem 1.14285714rem!important;
  font-size: 1rem;
}

.activeD:hover {
  background-color: #f3f3f3;
}

.ui.dropdown .menu{
  position: absolute;
}

.ui.dropdown .menu .active.item{
  color: #2b37bc;
}

.ui.dropdown>.dropdown.icon{
  visibility: hidden;
  height: 1.3em;
}

.ui.simple.active.dropdown>.menu, .ui.simple.dropdown:hover>.menu :hover{
  color: #2b37bc;
}

.ui.simple.active.dropdown>.menu, .ui.simple.dropdown:hover>.menu {
    overflow: visible;
    width: auto;
    height: auto;
    top: 95%!important;
    opacity: 1;
}

.ui.dropdown .menu>.item {
    color: rgb(147,158,174);
    padding: 0;
}

#VerticalLineHeader {
    border-right: 1px solid #94a0b2;
    width: 5px;
    height: 50px;
    margin-left: -31px;
    margin-top: -13px;
    position: absolute;
    display: inline-block;
}

#header {
  z-index: 1000;
  height: 145px;
  top: 0;
  width: 100%;
  position: fixed;
  background: #fff;
  display: flex;
  overflow: visible;
}

ul, li {
  padding: 0;
	margin: 0;
  text-align: center;
  list-style: none;
  margin-right: 5px;
  margin-left: -20px;
  display: inline;
}

.Link {
  position: relative;
  left: 190px;
  width: 100%;
  padding-top: 44px;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
}

#LinkInside{
  padding-left: 2.5rem;
  padding-right: 40px;
  padding-bottom: 2.4rem;
  margin-left: 20px;
  text-align: center;
  cursor: pointer;
  font-family: Ubuntu,Segoe UI,Roboto,Oxygen,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  font-style: normal;
  font-size: 17px;
  display: inline-block;
  box-sizing: content-box;
}

@media not all and (min-resolution:.001dpcm) {.LinkInside{
    padding-bottom: 2.6rem;
  }
}

#LinkInside:hover {
  color: #2b37bc;
  text-align: center;
  display: inline-block;
  border-bottom: 3px solid #2b37bc;
  box-sizing: border-box;
}

.active {
  color: #2b37bc;
  border-bottom: 3px solid #2b37bc;
  box-sizing: border-box;
}

.Button_1 {
  font-family: Lato,Segoe UI,Roboto,Oxygen,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  font-style: normal;
  margin-top: 0.2rem;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: none;
  border-radius: 4px;
  border: 2px solid #00a3ff;
  color: #00a3ff;
  position: relative;
  margin-right: 318px;
  cursor: pointer;
  outline: 0;
  display: block;
  float: right;
}

.Button_1:hover {
  color: #fff;
  background-color: #00a3ff;
  border: 2px solid #00a3ff;
}

.Button_1:focus {
  color: #fff;
  background-color: #009dff;
  border: 2px solid #009dff;
}

.Button_1:active {
  color: #fff;
  background-color: #009dff;
  border: 2px solid #009dff;
}

.ui.left, aligned {
  top: 0;
  left: 0;
  margin-top: 0%;
  margin-left: 0;
}

.ui.input input{
  flex: 0;
  margin-top: 3px;
  background: linear-gradient(155deg,  #3a0383, #263caf, #1760c8, #0096ff, #00b5c6);
  border: 0;
  border-radius: 0;
  color: #fff;
  font-size: 17px;
  width: 100%;
  height: 50px;
  margin-left: -50px;
  position: absolute;
  box-sizing: border-box;
}

.ui.input input::placeholder {
  color:#94a0b2;
}

.input {
  width: 102%;
  height: 50px;
  outline: none;
  position: relative;
  border: 0;
}

.ui.input input:focus {
  background: linear-gradient(155deg,  #3a0383, #263caf, #1760c8, #0096ff, #00b5c6);
  color: #94a0b2;
}

.ui.icon {
  padding-left: 50px;
  font-size: 1.4em;
  color: #94a0b2;
  display: block !important;
  position: absolute !important;
  margin-top: 97px !important;
}

.ui.icon.input>i.icon {
  margin-left: 30px;
}

.ui.modal {
    width: 1100px;
    margin: 0 0 0 -525px;
}

.ui[class*="left icon"].input>input {
    padding-left: 5.671429em!important;
    padding-right: 1em!important;
}
