@import "../../../node_modules/semantic-ui-css/semantic.min.css";
@import "header";
@import "simpleslider";
@import "aboutus";
@import "forcustomers";
@import "forsuppliers";
@import "SDO";
@import "about";
@import "basis";
@import "customers";
@import "suppliers";
@import "sistemsdo";
@import "contacts";
@import "footer";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  position: relative;
  overflow-x: hidden;
  font-style: normal;
  font-family: Lato,Segoe UI,Roboto,Oxygen,Cantarell,Open Sans,Helvetica Neue,sans-serif;
}

img {
  margin: 0;
}

#Home {
  width: 10px;
  height: 10px;
  display:  block;
  cursor: pointer;
  float: left;
  top: 0;
}

@media not all and (min-resolution:.001dpcm) {
  p {
    font-weight: normal;
  }
}

p {
    font-size: 18px;
    margin: 0px -51px 1em;
    font-style: normal;
    font-family: Lato,Segoe UI,Roboto,Oxygen,Cantarell,Open Sans,Helvetica Neue,sans-serif;
}

h1 {
    font-family: Lato,Segoe UI,Roboto,Oxygen,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    margin: calc(2rem - 0.142857em) -55px 1rem;
    padding-top: 15px;
    font-size: 2.5rem;
}

a {
  color: #939eae;
}


.iconDanger {
  width: 120px;
  height: 120px;
  margin-left: 285px;
  margin-top: 75px;
  position: absolute;
}

.DangerMessage {
  margin-left: 430px;
  margin-top: 130px;
}
