.ui.menu{
  width: 100%;
  top: 0;
  margin: 0;
}

.ui.menu:not(.vertical) .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ui.menu .item {
  display: block;
  text-align: center;
  width: 20%;
  padding-left: 0;
  margin: 0 auto;
  color: #fff;
  background-color: rgb(0,127,205);
}

.ui.menu:not(.vertical) .item:hover{
  text-align: center;
  display: block;
  background-color: rgb(0,149,218);
  color: white;
}

.ui.menu .active.item{
  display: block;
  background-color: rgb(0,149,218);
  color: white;
}
