#SDO {
  width: 10px;
  height: 10px;
  display:  block;
  float: left;
  margin-top: 171px;
  visibility: hidden;
}

@media not all and (min-resolution:.001dpcm) {#SDO {
  width: 10px;
  height: 10px;
  display:  block;
  float: left;
  margin-top: -239px;
}}

@-moz-document url-prefix() {#SDO {
  width: 10px;
  height: 10px;
  display:  block;
  float: left;
  margin-top: -239px;
}}

#sdo{
  position: relative;
  display: block;
  color: #1760c8;
  height: 555px;
  width: 1170px;
  margin: auto;
  padding-top: 130px;
  text-align: left;
}

.sdoF {
  font-size: 2.5rem;
  margin-left: -50px;
}

.sdoT{
  margin-left: 605px;
}

#VerticalLine4 {
  border-right: 1px solid #1760c8;
  width: 5px;
  height: 400px;
  float: right;
  margin-right: 660px;
  margin-top: -350px;
}

.icon4 {
  float: left;
  width: 550px;
  height: 550px;
  margin-top: -445px;
  margin-left: -100px;
}

.Button_5 {
  font-family: Lato,Segoe UI,Roboto,Oxygen,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  font-style: normal;
  margin-left: 625px;
  top: -60px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: none;
  border-radius: 4px;
  border: 2px solid #1760c8;
  color: #1760c8;
  text-align: center;
  position: relative;
  cursor: pointer;
  width: 150px;
  font-size: 15px;
  }

  .Button_5:hover {
  color: #fff;
  background-color: #1760c8;
  border: 2px solid #1760c8;
  }

  .Button_5:focus {
  color: #fff;
  background-color: #009dff;
  border: 2px solid #009dff;
  }

  .Button_5:active {
  color: #fff;
  background-color: #009dff;
  border: 2px solid #009dff;
  }
