.slick-slider {
    margin-bottom: 0;
    height: 828px;
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

.left,aligned {
  margin-top: 10%;
}

.slick-initialized .slick-slide {
    margin-top: 67px;
    outline: none;
    background-size: 100%;
    width: 1440px;
    height: 761px;
    display: block;
    position: relative;
}

.slick-dots {
    position: inherit;
    bottom: 70px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li.slick-active button:before {
    opacity: 100;
    font-size: 15px;
    color: #123c8b;
    margin-bottom: 0;
}

.slick-dots li button:before {
    font-size: 10px;
    line-height: 20px;
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    opacity: 100;
    color: rgb(0,157,255);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev::before, .slick-next::before {
    font-size: 40px;
    line-height: 2;
    z-index: 100;
    color: #123c8b;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.slick-prev {
  left: 20px;
  opacity: 0.50;
  text-align: center;
  z-index: 100;

}

.slick-next {
  right: 35px;
  opacity: 0.50;
  text-align: center;
  z-index: 100;
}

.slick-prev, .slick-next {
  top: 53%;
}

.slick-prev:hover, .slick-next:hover {
  color: #123c8b;
  opacity: 100;
}
