#Supplier {
  background: linear-gradient(155deg, #2b037e, #263caf, #1760c8, #0096ff, #00b5c6, #1ad3df, #a3fffc);
  top: 0;
  height: 710px;
  width: 100%;
  display:  block;
}

#sup {
  width: 10px;
  height: 10px;
  display:  block;
  float: left;
  top: 0;
  left: 0;
}

.SuppliersContainer {
    padding-top: 180px;
}
